/* Color Theme Swatches in Hex */
$cf-1-hex: #2D4B73;
$cf-2-hex: #253C59;
$cf-3-hex: #99B4BF;
$cf-4-hex: #D9B70D;
$cf-5-hex: #BF8D30;

/* Color Theme Swatches in RGBA */
$cf-1-rgba: rgba(44,75,114, 1);
$cf-2-rgba: rgba(37,59,89, 1);
$cf-3-rgba: rgba(153,180,191, 1);
$cf-4-rgba: rgba(216,182,13, 1);
$cf-5-rgba: rgba(191,141,47, 1);


